.not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: silver;
  position: relative;

  .img {
    width: 40%;
    border-radius: 15px;
  }
}
